@import '~bootstrap/scss/functions';
@import './variables';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import '~vuejs-noty/dist/vuejs-noty.css';

html,body{
    font-family: 'Noto Sans TC', sans-serif;
}

//////////////////// modal ////////////////////
.modal-dialog{
  overflow-y: initial !important;
}

.ruleModal .modal-body{
  height: 70vh;
  overflow-y: auto;
}

::selection {
	background: $primary;
	color: white;
}
::-moz-selection {
	background: $primary;
	color: white;
}

.text-active{
  color: $primary !important;
}

.lh-global{
  line-height: 35px;
}

.titleEllipsis{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; //行數
  -webkit-box-orient: vertical;
  white-space: normal;
}

.ellipsis {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; //行數
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media(max-width : 415px){
  .aboutContainer{
      padding: 20px;
  }
}
////////////////////////////////////////////////////////////

//////////////////// Front End ////////////////////

//////////////////// guide fix ////////////////////
.marginpaddingFix{
  margin: 0 !important;
  padding: 0 20px !important;
}
.listFix li{
  list-style-type: decimal;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
input[type="button"]:active{
  outline: none !important;
}
.couponInput{
  width: 80% !important;
}
///////////////////////////////////////////////////

//////////////////// animation ////////////////////
.preFadein{
  opacity: 0;
  transform: translateY(100px);
  transition: 1s ease;
}

.preFadeinRight{
  opacity: 0;
  transform: translateX(200px);
  transition: 1s ease;
}

.preFadeinLeft{
  opacity: 0;
  transform: translateX(-300px);
  transition: 1s ease;
}

.preFadeinTop{
  opacity: 0;
  transform: translateY(-300px);
  transition: 1s ease;
}

.fadeIn{
  opacity: 1;
  transform: translateY(0) !important;
  transform: translateX(0) !important;
}

.navBarChange{
  background-color: white;
  box-shadow: 0 0 1px black;
}

.logoDark{
  background-image: url(../src/assets/img/logo-dark.svg) !important;
}

.shake{
  animation: .8s shake;
  animation-delay: 1.4s;
}

@keyframes shake{
  0%{transform: translateX(0)};
  5%{transform: translateX(-5px)};
  10%{transform: translateX(5px)};
  15%{transform: translateX(-5px)};
  20%{transform: translateX(5px)};
  25%{transform: translateX(-5px)};
  30%{transform: translateX(5px)};
  35%{transform: translateX(-5px)};
  40%{transform: translateX(5px)};
  45%{transform: translateX(-5px)};
  50%{transform: translateX(5px)};
  55%{transform: translateX(-5px)};
  60%{transform: translateX(5px)};
  65%{transform: translateX(-5px)};
  70%{transform: translateX(5px)};
  75%{transform: translateX(-5px)};
  80%{transform: translateX(5px)};
  85%{transform: translateX(-5px)};
  90%{transform: translateX(5px)};
  95%{transform: translateX(-5px)};
  100%{transform: translateX(0)};
}

////////////////////////////////////////////////////////////

//////////////////// navBar ////////////////////
.navBar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 5px 20px 5px 40px;
  transition: .5s ease;
  z-index: 100;
}

.logo a{
  display: block;
  background-image: url(../src/assets/img/logo.svg);
  height: 50px;
  width: 100px;
  background-size: 100px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  transition: .5s ease;
}

.topMenu{
  margin-right: 40px;
}

.topMenu a{
  text-decoration: none;
  display: block;
  padding: 10px 20px 10px 20px;
  position: relative;
  transition: .3s ease;
  color: $primary;
}

.topMenu a:hover{
  color: #fff !important;
}

.topMenuActive{
  background-color: $primary;
  color: #fff !important;
}

.topMenu a::before{
  content: "";
  transform: scaleX(0);
  transform-origin: bottom right;
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: $primary;
  z-index: -1;
  transition: transform .3s ease;
}

.topMenu a:hover::before{
  transform: scaleX(1);
  transform-origin: bottom left;
}
////////////////////////////////////////////////////////////

//////////////////// navBar responseve ////////////////////
@media(max-width : 1024px){
  .topMenu{
      display: none;
  }
}
////////////////////////////////////////////////////////////

//////////////////// backTop-icon ////////////////////
.backTopIcon{
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: .3s ease !important;
  opacity: 0;
  z-index: 99;
}
.showScroolTop{
  transition: .3 ease;
  opacity: 1;
}
////////////////////////////////////////////////////////////

////////////////////hamburgerMenu////////////////////
.hamburgerIcon{
  position: fixed;
  top: 20px;
  left: 30px;
  cursor: pointer;
  display: none;
  z-index: 105;
}

.hamburgerLine{
  position: relative;
}

.hamburgerLine1{
  position: absolute;
  top: 0;
  background-color: $primary;
  width: 35px;
  height: 5px;
  transition: .3s ease;
}

.hamburgerLine2{
  position: absolute;
  background-color: $primary;
  width: 35px;
  height: 5px;
  top: 10px;
  transition: .3s ease;
}

.hamburgerLine3{
  position: absolute;
  background-color: $primary;
  top: 20px;
  width: 35px;
  height: 5px;
  transition: .3s ease;
}

.hamburgerLine1Change{
  width: 45px;
  transform: translateY(10px) translateX(0) rotate(-45deg);
  background-color: #fff;
}

.hamburgerLine2Change{
  opacity: 0;
}

.hamburgerLine3Change{
  width: 45px;
  transform:  translateY(-10px) translateX(0) rotate(45deg);
  background-color: #fff;
}

.hamburgerMenu{
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 70%;
  background-color: $primary;
  border-radius: 50%;
  transition: .5s ease;
  z-index: 104;
}

.hamburgerMenuShow{
  top: 0;
  left: 0;
  border-radius: 0;
}

.hamburgerMenu a{
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
  font-size: 32px;
}

.hamburgerTextShow{
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.hamburgerMenuList{
  height: 100%;
}

////////////////////////////////////////////////////////////

//////////////////// hamburgerMenu responseve ////////////////////
@media(max-width : 1024px){
  .hamburgerIcon{
      display: block;
  }
}

@media(max-width : 415px){
  .hamburgerMenu{
      width: 100%;
  }

  .hamburgerMenu a{
      font-size: 24px !important;
  }
}
////////////////////////////////////////////////////////////

//////////////////// curtain ////////////////////
.curtain{
  position: fixed;
  top: 0;
  right: 0;
  width: 300%;
  height: 200vh;
  background-color: $primary;
  transition: 1s ease;
  transform: skewX(-30deg);
  z-index: 9999;
}

.rightCurtain1{
  position: fixed;
  top: 0;
  right: -200%;
  height: 100vh;
  margin-right: 100px;
  width: 300px;
  background-color: $primary;
  transform: skewX(-30deg);
  transition: 1.5s ease;
  z-index: 9999;
}

.rightCurtain2{
  position: fixed;
  top: 0;
  right: -550%;
  height: 100vh;
  width: 450%;
  background-color: $primary;
  transform: skewX(-30deg);
  transition: 2.8s ease;
  z-index: 9999;
}

.curtainShow{
  right: 250%;
}

.curtain2Show{
  right: -20%;
}
////////////////////////////////////////////////////////////

//////////////////// curtain responseve ////////////////////
@media(min-width : 1024px){
  .curtain{
      transition: 2s ease;
  }
  .rightCurtain1{
      transition: 2s ease;
  }
  .rightCurtain2{
      transition: 4s ease;
  }
}
////////////////////////////////////////////////////////////

//////////////////// banner ////////////////////
.banner{
  background-image: url('../src/assets/img/landing-banner.jpeg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 20px 40px;
}

.bannerTobottom{
  margin-top: -50px;
  animation: 5s infinite float;
}

.bannerTobottom i{
  font-size: 34px;
}

@keyframes float{
  0%{transform: translateY(-10px)};
  10%{transform: translateY(10px)};
  20%{transform: translateY(-10px)};
  30%{transform: translateY(10px)};
  40%{transform: translateY(-10px)};
  50%{transform: translateY(10px)};
  60%{transform: translateY(-10px)};
  70%{transform: translateY(10px)};
  80%{transform: translateY(-10px)};
  90%{transform: translateY(10px)};
  100%{transform: translateY(-10px)};
}
////////////////////////////////////////////////////////////

//////////////////// banner responseve ////////////////////
@media(max-width : 768px){
  .titleBg{
      background-color: rgba(0, 0, 0, 0.3);
  }
}
@media(max-width : 415px){
  .banner{
      display: flex;
      justify-content: center;
  }
  .bannerTitle h3{
      font-size: 40px !important;
  }
}
////////////////////////////////////////////////////////////

//////////////////// home content ////////////////////
.content img{
  width: 100%;
}

.home-product-item-shell{
  overflow: hidden;
}

.content .col-md-6{
  margin: 50px 0;
}

.home-product-item{
  width: 100%;
  height: 300px;
  transition: .3s ease;
  cursor: pointer;
}

.home-product-item h2{
  z-index: 99;
}

.home-product-item-img1{
  background-image: url('../src/assets/img/home-product_1.jpeg');
  background-size: cover;
  background-position: center center;
  position: relative;    
}

.home-product-item-img2{
  background-image: url('../src/assets/img/home-product_2.jpeg');
  background-size: cover;
  background-position: center center;
  position: relative; 
}

.home-product-item-img3{
  background-image: url('../src/assets/img/home-product_3.jpeg');
  background-size: cover;
  background-position: center center;
  position: relative; 
}

.home-product-item-img1:hover , .home-product-item-img2:hover , .home-product-item-img3:hover{
  transform: scale(1.05);
}

.home-product-item-img1::after{
  content: "";
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0 , 0 , 0 , 0.4);
  position: absolute;
  z-index: 10;
}

.home-product-item-img2::after{
  content: "";
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0 , 0 , 0 , 0.4);
  position: absolute;
  z-index: 10;
}

.home-product-item-img3::after{
  content: "";
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0 , 0 , 0 , 0.4);
  position: absolute;
  z-index: 10;
}
////////////////////////////////////////////////////////////

//////////////////// videoBanner ////////////////////

.videoBanner{
  margin-top: 100px;
}

.videoTitle{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.vue-typer{
  .custom.char{
      color: #fff;
  }
}

.typerColor{
  .custom.char{
      color: #999 !important;
  }
}

////////////////////////////////////////////////////////////

//////////////////// phone css ////////////////////
.phoneCase{
  position: relative;
  width: 300px;
  height: 600px;
  border: 10px solid $primary;
  box-sizing: border-box;
  border-radius: 50px;
}

.phoneScreen{
  position: absolute;
  top: -2px;
  left: -2px;
  width: 102%;
  height: 101%;
  border: 10px solid #333;
  border-radius: 45px;
  overflow: hidden;
}

.topCamera{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-65px);
  width: 130px;
  height: 32px;
  background-color: #333;
  border-radius: 50px;
  z-index: 3;
}

.phoneBottomLine{
  position: absolute;
  width: 120px;
  height: 6px;
  background-color: #999;
  bottom: 10px;
  left: 50%;
  transform: translateX(-60px);
  border-radius: 10px;
  z-index: 3;
}

.phonePage1{
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  z-index: 1;
}

.phonePage1 img{
  width: 45%;
}

.phonePage1 input{
  border: none;
  border: 5px solid #999;
  outline: none;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 80%;
}

.phonePage1 button{
  padding: 10px;
  border: 3px solid $secondary;
}

.phonePage1 button:active{
  transform: translateY(3px);
}

.phonePage2{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 20px;
  background-color: #fff;
  margin-top: 30px;
  padding: 0 10px;
  z-index: 2;
  transform: translateX(300px);
  transition: .8s ease;
}

.phonePage2 img{
  width: 200px;
}

.couponCode{
  display: inline;
  border: 5px solid $primary;
}
////////////////////////////////////////////////////////////

//////////////////// phoneArea responseve ////////////////////
@media(max-width : 415px){
  .phoneAreaText h3{
      font-size: 55px !important;
  }

  .phoneAreaText p{
      font-size: 22px !important;
  }
}
////////////////////////////////////////////////////////////

//////////////////// aboutBanner ////////////////////
.aboutTitle{
  padding: 0 !important;
  height: 100vh;
}

.aboutTitle img{
  width: 400px;
}

////////////////////////////////////////////////////////////

//////////////////// aboutBanner respomseve aboutBanner
@media(max-width : 415px){
  .aboutTitle img{
      width: 100%;
  }
  .aboutTitle h2{
    font-size: 52px !important;
  }
}
////////////////////////////////////////////////////////////

//////////////////// about content ////////////////////
.aboutContent{
  margin-bottom: 50px;
}

.aboutContent img{
  width: 70%;
}

.aboutContentItem{
  padding-bottom: 80px;
}

.timeLine{
  position: relative;
}

.timeLine::before{
  content : "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0; left: 50%;
  background-color: $secondary;
}

.timeLine::after{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-8px);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid $primary;
  
}

.timeLineExtend img{
  width: 50%;
  position: absolute;
}

.timeLineExtend::before{
  content: "";
  width: 1px;
  height: 10%;
  position: absolute;
  top: 0; left: 50%;
  background-color: $secondary;
}
////////////////////////////////////////////////////////////

////////////////////about content responseve ////////////////////
@media(max-width : 768px){
  .aboutContent img{
      width: 100%;
  }

  .aboutContentItem h3{
      font-size: 38px;
  }

  .aboutContentItem p{
      margin-bottom: 80px;
  }
  
  .aboutContentItem h3{
      text-align: left !important;
  }

  .timeLine::before{
      display: none;
  }

  .timeLine::after{
      display: none;
  }
}

////////////////////////////////////////////////////////////

//////////////////// signIn ////////////////////
.signinArea{
  width: 100%;
  height: 100vh;
  position: relative;
}

.signinCard{
  position: absolute;
  top: 30%;
  left: 50%;
  width: 350px;
  transform: translateX(-175px);
  box-shadow: 0 0 5px rgba(0 , 0 , 0 , 0.3);
  box-sizing: border-box;
  padding: 30px;
  z-index: 1;
}

.signinCard input[type="text"] , .signinCard input[type="password"]{
  width: 100%;
  margin: -5px 0 15px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid $secondary;
  transition: .3s ease;
  color: $primary;
}

.signinBtn{
  margin-top: 20px;
  float: right;
  border: none;
  background-color: $primary;
  color: #fff;
  padding: 10px;
}

.signinBtn:focus{
  outline: none;
}

.signinBtn:active{
  transform: translateY(5px);
}

.tosignupBtn{
  margin-top: 20px;
  float: left;
  border: none;
  background-color: $secondary;
  color: #fff;
  padding: 10px;
}

.signupPos{
  position: absolute;
  width: 360px;
  top: -100%;
  left: 50%;
  transform: translateX(-180px);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0 , 0 , 0 , 0.3);
  z-index: 2;
  transition: 1s ease;
}

.signupCard{
  position: relative;
}

.signupCard input[type="text"] , .signupCard input[type="password"] , .signupCard input[type="tel"] , .signupCard input[type="email"]{
  width: 100%;
  border: none;
  border-bottom: 1px solid $secondary;
  margin: -5px 0 15px 0;
  outline: none;
  color: $secondary;
  transition: .3s ease;
}

.signupCard input[type="text"]:focus , .signupCard input[type="password"]:focus , .signupCard input[type="tel"]:focus , .signupCard input[type="email"]:focus{
  color: $primary;
}

.signupCardShow{
  top: 20%;
}

.signupCardHole1{
  position: absolute;
  top: 10px;
  left: 35px;
  width: 20px;
  height: 20px;
  border: 1px solid $secondary;
  border-radius: 50%;
}

.signupCardHole2{
  position: absolute;
  top: 10px;
  right: 35px;
  width: 20px;
  height: 20px;
  border: 1px solid $secondary;
  border-radius: 50%;
}

.signupCardHole1::before{
  content: "";
  width: 4px;
  height: 500px;
  background-color: $secondary;
  position: absolute;
  top: -500px;
  left: 40%;
  border-radius: 10px;
}

.signupCardHole2::before{
  content: "";
  width: 4px;
  height: 500px;
  background-color: $secondary;
  position: absolute;
  top: -500px;
  left: 40%;
  border-radius: 10px;
}
////////////////////////////////////////////////////////////

//////////////////// frontEnd products ////////////////////

.products-banner{
  width: 100%;
  height: 50vh;
  background-image: url('../src/assets/img/products_banner.jpeg');
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-banner-border{
  border: 5px solid $secondary;
  margin-top: 80px;
  padding: 20px;
}

.products-item{
  width: 90%;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 0 5px rgba(0 , 0 , 0 , 0.3);
}

.products-item img{
  padding: 10px;
}

.products-item:hover{
  box-shadow: 0 0 10px rgba(0 , 0 , 0 , 0.3);
  cursor: pointer;
}

.products-item:active{
  transform: translateY(5px);
  box-shadow: 0 0 10px rgba(0 , 0 , 0 , 0.6);
  cursor: pointer;
}

.product-item-modal{
  border-radius: 20px;
  position: relative;
}

.product-item-close{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 34px;
  z-index: 999;
}

.product-content{
  height: 85vh;
  overflow-y: scroll;
}

.sticky-top{
  z-index: 99 !important;
}

.sideMenu{
  margin-top: 80px;
}

.sideMenu li a{
  display: block;
  text-align: center;
  padding: 10px 0;
  transition: .3s ease;
}

.sideMenu li a:hover{
  text-decoration: none;
  background: $primary;
  color: #fff;
}

.sideMenuActive{
  background: $primary;
  color: #fff;
}

@media(max-width : 768px){
  .model-img{
      height: 250px;
  }
}

////////////////////////////////////////////////////////////

//////////////////// product responsive ////////////////////
@media(max-width : 768px){
  .product-item-modal{
      height: 100%;
  }
  .product-content{
      margin-top: 0 !important;
      padding: 20px !important;
      height: 100%;
  }
}

@media(max-width : 413px){
  .product-title{
      font-size: 32px;
  }
}
////////////////////////////////////////////////////////////

//////////////////// cart ////////////////////
.cartIcon{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  right: 7px;
  top: 10px;
  z-index: 101;
  cursor: pointer;
}

.cartIcon i{
  position: relative;
  font-size: 22px;
}

.cartIcon h6{
  position: absolute;
  font-size: 16px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: $danger;
  color: #fff;
}

.cartRight{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 106;
  overflow-y: scroll;
  transition: 1s ease;
}

.cartArea{
  width: 100%;
  height: 100%;
  position: relative;
}

.cartOutside{
  box-shadow: 0 0 3px rgba(0 , 0 , 0 , 0.3);
  padding: 20px;
}

.cartItem{
  width: 80%;
}

.cartCloseBtn{
  position: absolute;
  top: 5px;
  left: 20px;
  cursor: pointer;
}

.cartCloseBtn i{
  font-size: 38px;
}

.cartRightShow{
  right: 0;
}

.couponItem input{
  outline: none;
}

.cartBanner{
  background-image: url('../src/assets/img/cartBanner.jpeg');
  background-position: center center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cartBanner:after{
  content: "";
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0 , 0 , 0 , 0.4);
  position: absolute;
  z-index: 10;
}

.cartBanner button{
  border: 5px solid $primary;
  background-color: transparent;
  color: #fff;
  padding: 30px;
  font-size: 40px;
  transition: .3s ease;
  z-index: 11;
}

.cartBanner button:hover{
  background-color: $primary
}

////////////////////////////////////////////////////////////

//////////////////// cart responsive ////////////////////
@media(max-width : 415px){
  .cartItem{
      width: 95%;
  }
  .computerSizeTable{
    display: none;
  }
}
@media(min-width : 415px){
  .phoneSizeTable{
    display: none;
  }
}
////////////////////////////////////////////////////////////

//////////////////// pagination ////////////////////
.pagination{
  border: 3px solid $secondary;
  padding: 8px;
  border-radius: 50px;
}
.pagination li{
  border-radius: 50%;
  border: 3px solid $secondary;
  font-size: 20px;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  transition: .3s ease;
}

.pageActive{
  background-color: $primary;
  color: #fff;
}

.pageDisabled{
  pointer-events: none !important;
  opacity: 0.65 !important;
}

.pagination li a{
  display: flex;
  justify-content: center;
}

.pagination li a:hover{
  text-decoration: none;
}

////////////////////////////////////////////////////////////

//////////////////// footer ////////////////////
.footer{
  margin: 0 !important;
  padding: 15px 0;
  background-color: $primary;
}

.footer img{
  width: 100px;
}

.socialIcon{
  padding: 10px;
  transition: .3s ease;
}

.socialIcon:hover{
  transform: translateY(-5px);
}
////////////////////////////////////////////////////////////

//////////////////// Back End ////////////////////
.backEndNav{
  padding: 5px 40px;
  box-shadow: 0 0 3px rgba(0 , 0 , 0 , 0.3);
}

.backEndNav a{
  color: $secondary;
}

.backEndlogo{
  background: url(../src/assets/img/backEnd-logo.svg);
  display: block;
  width: 200px;
  height: 56px;
  background-size: 200px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

#couponModal input[type="text"] , #couponModal input[type="date"] , #couponModal input[type="number"]{
  margin: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid $secondary;
  outline: none;
}

.form-check{
  margin-top: 10px;
}
////////////////////////////////////////////////////////////

//////////////////// backEnd nav responsive ////////////////////
@media(max-width : 768px){
  .backEndNav{
      padding: 5px 0;
      justify-content: center !important;
  }
  
  .backEndNav ul{
      display: none !important;
  }
}
////////////////////////////////////////////////////////////

//////////////////// backEnd table size fix ////////////////////
@media(max-width : 415px){
  .tableResponsiveFix{
      width: 780px !important;
  }

  .tableSmRemove{
      display: none;
  }
}
////////////////////////////////////////////////////////////